@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

body {
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.first-part {
  width: 483px;
  min-height: 100vh;
  background: #43195b;
  position: relative;
}
.second-part {
  width: 900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 12px;
  text-align: left;
  color: var(--deep-violet);
  padding-bottom: 9px;
  margin-top: 26px;
}
.error1,
.error2,
.error3,
.error4,
.error5 {
  display: none;
  color: red;
}
#name,
#number {
  width: 381px;
  height: 45px;
  font-size: 18px;
  color: var(--deep-violet);
  padding: 11px;
  border-radius: 8px;
  border: 1px solid grey;
}
::placeholder {
  color: rgb(192, 173, 173);
}
.card-title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.date {
  display: flex;
  gap: 10px;
  align-items: center;
}
#month,
#year,
#cvc {
  height: 45px;
  border: 1px solid grey;
  font-size: 18px;
  padding: 11px;
  border-radius: 8px;
}
#month,
#year {
  width: 80px;
}
#cvc {
  width: 191px;
}
#button {
  width: 381px;
  height: 53px;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
  background: #21092f;
  cursor: pointer;
}
#button:hover {
  background-color: #6c2396;
}
.success-part {
  display: none;
}
.add-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.add-image {
  width: 80px;
  height: 80px;
}
h5,
.add-paragraph {
  font-size: 18px;
}
.add-button {
  width: 381px;
  height: 53px;
  background: #21092f;
  border-radius: 8px;
  font-size: 18px;
  color: white;
}
.add-button:hover {
  background-color: #6c2396;
}
.front-card {
  position: absolute;
  width: 447px;
  height: 245px;
  top: 100px;
  left: 120px;
  background-color: #630d9e;
  padding: 20px;
  border-radius: 10px;
}
.oval {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: white;
}
h3 {
  width: 407px;
  font-size: 28px;
  color: white;
  margin-top: 50px;
  text-align: center;
}
.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  color: white;
  font-size: 18px;
}
.back-card {
  width: 447px;
  height: 245px;
  background-color: #dcdce1;
  position: absolute;
  top: 400px;
  left: 170px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.black-line {
  margin-top: 40px;
  width: 100%;
  height: 54px;
  background-color: black;
}
.card-cvc {
  margin-top: 30px;
  width: 361px;
  height: 38px;
  background-color: #adb5be;
  padding: 10px;
  text-align: right;
  font-size: 18px;
}
